@charset "ISO-8859-1";
body
{
margin:0;
padding:0;
font-family: sans-serif;
background-image:linear-gradient(rgba(0,0,100,0.5),rgba(0,0,0,0.5)), url(background1.jpg) ;
background-size:cover;
background-position:center;
background-attachment:fixed;

}
nav{
overflow:hidden;
background:lightblue;
//position:abolute;
line-height:30px;
}
nav a
{
float:left;
display:block;
width:100px;
text-align:center;
padding:18px 20px;
text-decoration:none;
font-size:16px;
text-transform:uppercase;
font-weight:700;
color:#fff;

}
nav a:hover{
background:#ddd;
color:#000;
}
nav input[type=text] 
{
float:right;
padding:16px;
border:none;
//margin-top:30px;
margin-right:78px;
font-size:17px;
border-radius:100px;
outline:none;

}
nav input[type="submit"]
{
border:none;
outline:none;
height:50px;
//margin-top:30px;
background:#1c8adb;
color:#fff;
font-size:18px;
border-radius:100px;
position:absolute;
left:93%;
}
nav input[type="submit"]:hover
{color:black;
}



table{
width:720px;
margin:auto;
border-radius:60px;/* must be removed*/
background:white;
}

td{
border-right:1px solid blue;
border-bottom:4px solid black;
background:lightblue;
padding:3px 3px 12px 12px;
color:#4f6b72;
border-radius:50px;
}
img
{
width:300px;
height:215px;
border-radius:70%;
}
/*MESSAGE AND FOLLOW BUTTON*/

.insideB
{
border:1px solid blue;
padding:10px 30px;
color:blue;
text-decoration:none;

}
.insideB:hover
{
background-color: blue;
color:#000;
}

